<!DOCTYPE html>
<html lang="us">
  <head>
    <meta charset="UTF-8" />
    <title>localhost:3000</title>
  </head>
  <body>
    <div style = "text-align: center;"> 
      <h3>Haz click en el siguiente boton para recuperar tu contraseña</h3>
      <a href="http://localhost:3000" target="_blank"><button>Click Here </button></a>
      <h4>o pulsa el siguiente enlace</h4>
      <a href="http://localhost:3000" target="_blank">recuperar contraseña</a>
    </div>
  </body>
</html>